body{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: end;
    background: rgb(102, 102, 102);
}

.cadastro{
    margin:  2vh;

}

.form{
    display: flex;
    justify-content: center;
}

.search_form{
    margin: 5vh 5px 3vh 0;
    height: 6vh;
    width: 25.5%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 25px;
    padding: 0;
}

input:focus{
    box-shadow: 0 0 0 0;
    border: 0 0 2px 0;
    outline: 0;
    padding: 0;

}

.btn_form{
    display: flex;
    align-items: center;

}

.send_btn{

    cursor: pointer;
    height: 5vh;
    border: none;
    border-radius: 2em;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(to bottom right, #8d74dd,  #f091e0);

}


.div_table{
    display: flex;
    width: 100%;
    justify-content: center;
}

.table{
    width: 30%;
    background: rgb(248, 235, 210);
    border-color: rgb(102, 102, 102);
    border-width: 2px;
    border-radius: 0.5rem;
    padding: 1rem;
}

.edit_btn{
    background: #f0f8ff00;
    border: none;
    cursor: pointer;
}

.column{
    border-top: 0;
    border-left: 0;
}

.column1{
    border: none;
}